* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.col-1 {
  background-color: gray;
  color: lightblue;
}

.col-2 {
  background-color: black;
  color: white;
}

.col-3 {
  background-color: purple;
  color: white;
}
