* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px solid black;
}

p {
  border: 2px;
  background-color: gray;
  color: lightblue;
  margin-right: auto;
  margin-left: auto;
  font-family: sans-serif;
}
